*
!workflow
!workflow/*
!workflow/report/*
!workflow/envs/*
!workflow/scripts/*
!workflow/rules/*
!workflow/rules/annotation/*
!workflow/resources/*
!workflow/igsr-metadata/*
!config
!config/*.example
!LICENSE
!README.md
!CHANGELOG.md
!environment.yaml
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/**/*
!.github
!.github/workflows
!.github/workflows/main.yml
.DS_Store
*~
.*.sw?
